@charset "UTF-8";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
     --primeira-cor: hsl(222, 80%, 58%);
     --cor-dark: hsl(222, 24%, 8%);
     --cor-titulo: hsl(222, 8%, 8%);
     --cor-texto-claro: hsl(222, 8%, 65%);
     --cor-body: hsl(222, 100%, 98%);

     --fonte-body: 'Poppins', sans-serif;
     --fonte-pequena: .813rem;
}

@media screen and (min-width:968px) {
    :root{
        --fonte-pequena: .875rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor-body);
}

.container{
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.pesquisa{
    position: relative;
    width: 76px;
    height: 76px;
    background-color: #fff;
    box-shadow: 0px 4px 24px hsl(222, 68%, 12%, .1);
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.pesquisa-input{
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--fonte-body);
    font-size: var(--fonte-pequena);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.pesquisa-input:-webkit-autofill{
    box-shadow: 0 0 0 100px #fff inset;
}

.pesquisa-button{
    width: 54px;
    height: 54px;
    background-color: var(--cor-dark);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.9, 0, .3, .9);
}

.pesquisa-icone, .pesquisa-close{
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
}

.pesquisa-close{
    opacity: 0;
}

.mostrar-pesquisa{
    width: 100%;
}

.mostrar-pesquisa .pesquisa-input{
    opacity: 1;
    pointer-events: initial;
}

.mostrar-pesquisa .pesquisa-button{
    transform: rotate(90deg);
}

.mostrar-pesquisa .pesquisa-icone{
    opacity: 0;
}

.mostrar-pesquisa .pesquisa-close{
    opacity: 1;
}

@media screen and (min-width: 576px) {
    .mostrar-pesquisa{
        width: 450px;
    }
}